* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header h1 {
    margin-bottom: 20px;
}

section ul {
    list-style: none;
    padding: 0;
}

section ul li {
    margin: 10px 0;
}

section ul li a {
    text-decoration: none;
    color: black;
    padding: 15px 30px;
    border-radius: 25px;
    border: solid 1px black;
    display: block;
    text-align: center;
    width: 100%;
    width: 320px;
    transition: background-color 0.3s ease;
}

section ul li a:hover {
    background-color: #e1e1e1;
}

footer p {
    margin-top: 20px;
    color: #676767;
}